*{
  margin:0px;
  padding:0px;

}

.App{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
}

.dark1{
  background-color: #313131;
}
.dark2{
  background-color: #414141;
}
.dark3{
  background-color: whitesmoke;
}


.flexH{
  display: flex;
  flex-direction: row;
}
.flexV{
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*RESPONSIVE*/
@media screen and (max-width:500px){
  .dark1{
      background-image: url("../MEDIAS/dark1.jpg");
  }
  .dark2{
    background-color: transparent;
  }
}