*{
  margin:0px;
  padding:0px;
}

.flexH{
  display: flex;
  flex-direction: row;
}
.flexV{
  display: flex;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
  text-align: center;
}